.header__nav {
  display: flex;
  overflow: hidden;
  padding: 30px 0;

  position: relative;
}

.header__logo {
  display: flex;
  flex: 1;
  position: relative;
}

.header__logo img {
  width: 113px;
  height: 34px;
}

.header__menu,
.header__menu-btn {
  flex: 1.1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 57px;

  list-style: none;
}

.header__menu-login {
  gap: 37px;
}

.header__menu li,
select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--poppins);
  color: var(--dark-link);
  cursor: pointer;
}

.header__menu select {
  border: none;
  background: none;
}

.header__btn-sign-up {
  padding: 7px 18px;
  margin-left: 15px;

  border: 1px solid var(--dark-link);
  border-radius: 5px;
}
